.zr-page-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    padding: 3px 6px;
    line-height: 28px;
    color: #696a6b;
    .bar-left{
        display: flex;
        flex-direction: row;
        flex: 1;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        .svg-inline--fa{
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin: 5px;
            margin-right: 12px;
            &:hover{
                color: #03A9F4;
            }
        }
        .title{

        }
    }
    .bar-center{
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: keep-all;
        flex: 1;
    }
    .bar-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }
}